$base-color: #000; 
$contrast-color: #fff; 
.pw-card {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    border: 1px solid $contrast-color;
    padding: 1rem;
    color: $contrast-color;
    margin-bottom: 1.6rem;
    transition: .3s;
    &-top {
        width: inherit;
        height: auto;
        display: flex;
        flex-direction: row;
        margin: 0 0 20px 0;
        &_left {
            width: 50%;
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &_right {
            width: 50%;
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 1rem;
            overflow: hidden;
            max-height: 120px;
            @media (min-width: 426px) {
                max-height: 150px;
            }
            @media (min-width: 992px) {
                max-height: 120px;
            }
            @media (min-width: 1200px) {
                max-height: 150px;
            }
            h3 {
                text-wrap: pretty;
                font-size: 0.9rem;
                font-weight: bold;
                @media (min-width: 321px) {
                    font-size: 0.95rem;
                }
                @media (min-width: 376px) {
                    font-size: 0.9rem;
                }
                @media (min-width: 768px) {
                    font-size: 0.9rem;
                }
                @media (min-width: 1200px) {
                    font-size: 0.9rem;
                }
            }
        }
        &_left-circle {
            position: relative;
            width: 120px;
            height: 120px;
            @media (min-width: 426px) {
                width: 150px;
                height: 150px;
            }
            @media (min-width: 992px) {
                width: 120px;
                height: 120px;
            }
            @media (min-width: 1200px) {
                width: 150px;
                height: 150px;
            }
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid $contrast-color;
            img {
                position: absolute;
                max-width: unset;
                width: auto;
                height: 100%
            }
        }
    }
    &-middle {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin: 5px 0 15px 0;
        h3 {
            display: block;
            width: 100%;
            font-size: 0.9rem;
            font-weight: bold;
            border-top: 1px solid $contrast-color;
            border-bottom: 1px solid $contrast-color;
            padding-top: 5px;
            padding-bottom: 5px;
            margin: 0;
            overflow: hidden;
            text-wrap: nowrap;
            @media (min-width: 321px) {
                font-size: 0.9rem;
            }
            @media (min-width: 376px) {
                font-size: 0.9rem;
            }
            @media (min-width: 768px) {
                font-size: 0.9rem;
            }
            @media (min-width: 1200px) {
                font-size: 0.9rem;
            }
        }
    }
    &:hover {
        color: unset;
        text-decoration: none;
        cursor: pointer;
        box-shadow: 5px 5px 0px $contrast-color;
        .pw-card-top_right h3 { 
            color: $contrast-color;
            text-decoration: underline; 
        }
    }
    &-bottom { 
        p {
            font-size: 0.9rem;
            margin: 0;
        }
        .description {
            height: auto;    
            @media (min-width: 768px) {
                height: 140px;
            }
            @media (min-width: 992px) {
                height: 80px;
            }
            @media (min-width: 1200px) {
                height: 100px;
            }
        }
        .details {
            height: auto;
            @media (min-width: 768px) {
                height: 120px;
            }
            @media (min-width: 992px) {
                height: 115px;
            }
            @media (min-width: 1200px) {
                height: 120px;
            }
        }
    }
}
.pw-nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}